.node{
  transition: all 1s;
  position: absolute;
  margin: auto;
  width: 50%;
  left: 40%;
  background-color: black;
}
.node:hover{
  transform: scale(1.5, 1.5);
  transition: all 1s;
  position: absolute;
}
.background {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  transition: all 1s;
}

.background::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2F9C89;
  transform: translate(6px, 6px);
  transition: all 1s;
  z-index: -1;
}
.background:hover::before{
  position: absolute;
  transform: translate(12px, 12px);
}

body {
  background-color: #A1E7DA;
}
