#canvas {
  width: 500px;
  height: 500px;
  position: relative;
  border: solid;
}
#obj {
  position: absolute;
  background-color: #000;
  transition-property: width, height, background-color, border-radius, left, top;
  transition-duration: 2s;
  transition-timing-function: ease;
}
